body{
font-family: Arial;
margin:0;
background:#f4f6f8;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#1e293b;
color:white;
}

.sidebar{
width:200px;
background:#334155;
color:white;
height:100vh;
padding:20px;
}

.dashboard{
display:flex;
}

.card{
background:white;
padding:20px;
margin:10px;
border-radius:10px;
}